{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>ARANA</title>
</head>
<body>  <!--You can make dark mode by adding class="bg-dark" or change any background color by adding class bg-<colorname> -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<!-- NAVBAR -->
<nav class="navbar navbar-light bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: white;" href="/"><img src="/static/home/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        ARANA</a>
      <!-- URL SEARCH -->
        <div class="container-fluid, mx-auto">
        <form class="d-flex" method="POST" action="/">
            {% csrf_token %}
        <input class="form-control me-2" type="search" name="input_url" placeholder="Enter URL" aria-label="Search">
        <button class="btn btn-outline-danger " type="submit">GO</button>
        </form>
     </div>
    </div>
</nav>

<!-- INFORMATION GRID -->
<style>
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #d2dae0;
    height: 600px;
    overflow-y:auto;
    width:100%;
    padding: 10px;
    margin-top:5%;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 30px;
    overflow-y: auto;
    text-align: center;
  }
  </style>
 <div class="grid-container">
    <div class="grid-item">{{src_code}}</div>
    <div class="grid-item">{{title}}</div>
    <div class="grid-item">{{all_link}}</div>  
    <div class="grid-item">{{all_text}}</div>
    <div class="grid-item"><img src="/static/home/0001.jpg"></div>
    <div class="grid-item">6</div>  
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>   
  </div>
  
  </body>
</html>