{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- <meta http-equiv="refresh" content="10"> -->
<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<style media="screen" type="text/css">
  .layer1_class { position: absolute; z-index: 1; top: 9px; left: 0px; visibility: visible; }
  .layer2_class { position: absolute; z-index: 2; top: 10px; left: 10px; visibility: hidden }
</style>
<script>
  function downLoad(){
    if (document.all){
        document.all["layer1"].style.visibility="hidden";
        document.all["layer2"].style.visibility="visible";
    } else if (document.getElementById){
        node = document.getElementById("layer1").style.visibility='hidden';
        node = document.getElementById("layer2").style.visibility='visible';
    }
  }
</script>
</head>
  <body onload="downLoad()">
    <div id="layer1" class="layer1_class">
      <table width="100%">
        <tr>
          <td align="center"><img style="text-align:center;margin-left: 54%;" src="/static/home/ARANA.jpg"></strong></p></td>
        </tr>
      </table>
    </div>
    <div id="layer2" class="layer2_class">
        <script type="text/javascript">
                alert('WELCOME TO ARANA NEWS!');
        </script>
        <nav class="position fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">
            &nbsp&nbsp<img src="/static/home/navlogo.png" alt="" width="30px" height="30px" class="d-inline-block align-text-top">
            ARANA
          </a>
          <form class="d-flex" method="POST" action="/news">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </nav>
      <!-- MAIN NEWS PAGE -->
          <div class="col px-4">
          <div class="row row-cols-2 row-cols-md-4 mt-4 g-4">
          {% for new, des, i in mylist %}
                  <!-- <img src="{{ i }}" alt="">
                  <h1>news:</h1> {{ new }}
                  {{ value|linebreaks }}
      
                  <h4>description:</h4>{{ des }}
                  {{ value|linebreaks }} -->
                        <div class="card  border border-dark shadow p-3 mb-3 bg-white rounded">
                          <img src="{{i}}" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">{{new}}</h5>
                            <p class="card-text">{{des}} </p>
                          </div>
                        </div>
          {% endfor %}
        </div>      
    </div>
    
  <!-- MAIN NEWS PAGE ENDS-->
<!-- QUERY BASED NEWS -->
    
<!-- QUERY BASED NEWS ENDS-->

  </body>
</html>